POSTGRES_DB=social_service
POSTGRES_USER=social_service
POSTGRES_PASSWORD=social_service
POSTGRES_PORT=5434

APP_PORT=3005

AUTH_URL=http://host.docker.internal:8080
AUTH_SESSION_RESOLVE_ENDPOINT=/api/v1/resolve

CONTENT_URL=http://host.docker.internal:3000
CONTENT_RECIPE_ENDPOINT_TEMPLATE=/recipes/{id}
CONTENT_COLLECTION_ENDPOINT_TEMPLATE=/collections/{id}
CONTENT_VALIDATION_ENABLED=true
